<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="SQLCon" connectionString="Data Source=Mohan\DBExpress; Initial Catalog=SaveImageInSQL; User ID=sa; password=Mohan123*" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>